.btn {
    border:none;
    
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(199, 199, 199)
}
.btn:hover {
    background-color: rgb(172, 136, 136)
}

.products{
    width:70%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 150px, 150px;
  grid-column-gap:50px;
  grid-row-gap:50px;
  margin:100px;
    }
    